In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("emails.csv")
df

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.isna().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [6]:
df.shape

(5172, 3002)

In [8]:
X=df.iloc[:,1:3001]
X

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,2,2,2,3,0,0,32,0,0,5,...,0,0,0,0,0,0,0,0,0,0
5168,35,27,11,2,6,5,151,4,3,23,...,0,0,0,0,0,0,0,0,1,0
5169,0,0,1,1,0,0,11,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5170,2,7,1,0,2,1,28,2,0,8,...,0,0,0,0,0,0,0,0,1,0
5171,22,24,5,1,6,5,148,8,2,23,...,0,0,0,0,0,0,0,0,0,0

In [9]:
Y=df.iloc[:,-1]
Y

0       0
1       0
2       0
3       0
4       0
       ..
5167    0
5168    0
5169    1
5170    1
5171    0
Name: Prediction, Length: 5172, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3)
x_train

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
2606,0,1,1,0,1,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3526,0,0,1,0,1,0,12,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2074,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148,1,1,1,0,4,0,10,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4887,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5142,2,1,1,0,1,1,20,0,0,0,...,0,0,0,0,0,0,0,0,2,0
4213,4,4,2,1,0,4,31,1,1,3,...,0,0,0,0,0,0,0,0,2,0
132,2,2,3,2,0,1,10,1,0,4,...,0,0,0,0,0,0,0,0,0,0
4333,0,3,3,2,3,3,42,1,1,3,...,0,0,0,0,0,0,0,0,1,0
1629,14,16,3,9,18,4,90,8,0,18,...,0,0,0,0,0,0,0,0,4,0

In [11]:
x_test

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
3227,9,6,4,3,3,4,72,1,0,15,...,0,0,0,0,0,0,0,0,1,0
806,4,14,2,0,8,2,69,16,0,22,...,0,0,0,0,0,0,0,0,1,0
4414,15,12,4,7,4,10,161,3,1,19,...,0,0,0,0,0,0,0,0,4,0
2537,4,11,16,1,4,0,37,1,7,6,...,0,0,0,0,0,0,0,0,0,0
1096,9,7,1,1,4,1,40,4,1,12,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,0,1,2,0,0,0,10,0,1,2,...,0,0,0,0,0,0,0,0,0,0
3333,10,12,4,3,2,7,153,2,7,51,...,0,0,0,0,0,0,0,0,8,0
2182,0,0,1,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
811,3,14,1,1,2,1,33,0,0,13,...,0,0,0,0,0,0,0,0,0,0
908,6,10,23,6,7,2,96,3,13,13,...,0,0,0,0,0,0,0,0,0,0

In [12]:
y_train

2606    0
3526    0
2074    1
1148    1
4887    0
       ..
5142    1
4213    0
132     0
4333    0
1629    0
Name: Prediction, Length: 3620, dtype: int64

In [13]:
y_test

3227    0
806     0
4414    0
2537    0
1096    0
       ..
3069    0
3333    0
2182    0
811     0
908     0
Name: Prediction, Length: 1552, dtype: int64

# SVM

In [18]:
from sklearn.svm import SVC
svc=SVC()
svc.fit(x_train,y_train)
prediction_svc=svc.predict(x_test)
prediction_svc

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [19]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(prediction_svc,y_test)
acc

0.7854381443298969

# KNN

In [20]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)
prediction_knn=knn.predict(x_test)
prediction_knn

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [21]:
acc_knn=accuracy_score(prediction_knn,y_test)
acc_knn

0.8717783505154639