In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Pedigree,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
df.isna().sum()

Pregnancies      0
Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
Pedigree         0
Age              0
Outcome          0
dtype: int64

In [7]:
X=df.iloc[:,0:8]
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Pedigree,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [8]:
Y=df.iloc[:,-1]
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3)
x_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Pedigree,Age
227,3,162,52,38,0,37.2,0.652,24
451,2,134,70,0,0,28.9,0.542,23
339,7,178,84,0,0,39.9,0.331,41
138,0,129,80,0,0,31.2,0.703,29
742,1,109,58,18,116,28.5,0.219,22
...,...,...,...,...,...,...,...,...
487,0,173,78,32,265,46.5,1.159,58
683,4,125,80,0,0,32.3,0.536,27
404,5,168,64,0,0,32.9,0.135,41
738,2,99,60,17,160,36.6,0.453,21
453,2,119,0,0,0,19.6,0.832,72

In [10]:
x_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Pedigree,Age
4,0,137,40,35,168,43.1,2.288,33
220,0,177,60,29,478,34.6,1.072,21
663,9,145,80,46,130,37.9,0.637,40
355,9,165,88,0,0,30.4,0.302,49
599,1,109,38,18,120,23.1,0.407,26
...,...,...,...,...,...,...,...,...
510,12,84,72,31,0,29.7,0.297,46
748,3,187,70,22,200,36.4,0.408,36
47,2,71,70,27,0,28.0,0.586,22
70,2,100,66,20,90,32.9,0.867,28
242,3,139,54,0,0,25.6,0.402,22

In [11]:
y_train

227    1
451    1
339    1
138    0
742    0
      ..
487    0
683    1
404    1
738    0
453    0
Name: Outcome, Length: 537, dtype: int64

In [12]:
y_test

4      1
220    1
663    1
355    1
599    0
      ..
510    1
748    1
47     0
70     1
242    1
Name: Outcome, Length: 231, dtype: int64

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)
prediction=knn.predict(x_test)
prediction

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

# Confusion Matrix

In [14]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score
cm=confusion_matrix(y_test,prediction)
cm

array([[123,  21],
       [ 48,  39]], dtype=int64)

In [15]:
acc=accuracy_score(y_test,prediction)
acc

0.7012987012987013

In [16]:
pre=precision_score(y_test,prediction)
pre

0.65

In [17]:
rec=recall_score(y_test,prediction)
rec

0.4482758620689655